
<div class="vertical-center">
	<p>
		<img src="http://hrspandya.github.io/img/harsh_pandya.jpg" alt="Harsh Pandya" title="Follow me on Twitter @hrspandya"  
		class="img-rounded" />			
	</p>					

	<h4 class="noBold">Harsh Pandya</h4>
	<p>Engineer at Ciphercloud</p>

	<ul class="social-nav model-9">
	  <li><a href="https://twitter.com/hrspandya" class="twitter"><i class="fa fa-twitter"></i></a></li>	
	  <li><a class="linkedin" href="https://www.linkedin.com/pub/harsh-pandya/13/b3a/941"><i class="fa fa-linkedin"></i></a></li>
	  <li><a class="github" href="https://hrspandya.github.io"><i class="fa fa-github"></i></a></li>
	</ul>

</div>